.header {
    padding: 25px 200px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .companyName {
        position: absolute;
        left: 20px;
    }

    .points {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            li {
                font-size: 14px;
                border-radius: 10px;
                padding: 7.5px 20px;
                border: 1px solid  #EAECF0;
                width: 240px;
                color: var(--gray);
                padding: 16px;
                display: flex;
                align-items: center;
                gap: 15px;
                span{
                    font-size: 20px;
                }

                &:hover {
                    color: var(--uniq);
                    p{
                        color: var(--gray);
                    }
                }
            }
        }
    }
}