.loginBlock {
  padding: 40px;
  max-width: 500px;
  box-shadow: 0px 10px 40px 0px rgba(29, 22, 23, 0.07);
  border-radius: 24px;
  gap: 10px;

  h2 {
    font-size: 26px;
    font-family: var(--popinstext);
  }

  .loginForm {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ant-form-item {
      width: 200px !important;
    }

    .emailInput,
    .passwordInput {
      padding: 5px 40px;
      height: 55px;
      border-radius: 35px;
      width: 340px;
    }

    .forgotPassword {
      color: var(--gray);
      font-size: 12px;
      text-align: center;
      text-decoration: underline;

      &:hover {
        color: var(--uniq);
        text-decoration: underline;
      }
    }

    .mailIcon {
      color: var(--gray);
      top: 37.5px;
      left: 20px;
      z-index: 10;
      position: relative;
    }

    .buttonsBlock {
      padding: 0;
      margin: 0;
      width: 340px;

      div {
        width: 340px;
        height: 150px;
        display: flex;
        flex-direction: column;
      }

      .hrblock {
        margin-top: 10px;
        height: 10px;
        width: auto;

        .hrtext {
          display: block;
          background: #fff;
          height: 20px;
          width: 15px;
          position: relative;
          bottom: 12.5px;
          left: 47.5%;
          z-index: 100;
          text-align: center;
        }
      }

      .buttonSubmits {
        margin: 5px 0;
        width: 340px;
        height: auto;
        padding: 16px;
        border-radius: 50px;

        &:nth-child(3) {
          background-color: #1e293b;
        }
      }
    }

    .registerAcc {
      color: var(--gray);
      font-size: 14px;
      line-height: 22px;
      text-align: center;

      &:hover {
        color: var(--uniq);
      }
    }
  }
}
