:root {
  // COLORS
  --white: #EAECF0;
  --gray: #637381;
  --black: #1D1617;
  --uniq: #28C0E9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 12px;
  }
}